
header {
  text-transform: uppercase;
  padding-top: 1px;
  padding-bottom: 1px;
  color: black;
  border-style: solid;
  border-width: 1px;
}

aside {
  color: black;
  border-width: 1px;
  border-style: solid;
  float: left;
  width: 6.3rem;
}

footer {
  color: black;
  border-width: 1px;
  border-style: solid;
  clear: both;
}

main {
  float: right;
  width: calc(100% - 7.2rem);
  padding: 5px;
  background: hsl(240, 100%, 50%);

  article {
    background: hsl(240, 100%, 50%);
    color: hsl(240, 0%, 100%);
    border-width: 5px;
  }  
}
